<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<div class="container">
    <table class="table">
        <tr>
        <td> Title</td>
        <td>  Hasil</td>
        <td>  Mapel</td>
        <td>  Teacher_ID</td>
        <td>  Student_ID</td>
        <td>  Date</td>
        <td colspan="5"> Action</td>
    </tr>
    <% @reports.each do |report|%>
    <tr>
        <td><%= report.title %> </td>
        <td><%= report.hasil %> </td>
        <td><%= report.mapel %> </td>
        <td><%= report.teacher_id %> </td>
        <td><%= report.student_id %> </td>
        <td><%= report.date %> </td>
<td>
    <div class="pull-right">
        <%= link_to 'Detail', report_path(report), class: "btn btn-info"%> 
        <%= link_to 'Edit', edit_report_path(report), class: "btn btn-warning"%> 
    <%= link_to 'Delete',  report_path(report), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger"%> 
    </div>
    </td>
    </tr>
<% end %>
</table>
<%= link_to 'New Report', new_report_path , class: "btn btn-primary"%> 
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
